@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


:root{
    /* Color */
    --body-color: #FFFFFF;
    --primary-hijau-color: #0F9D58;
    --primary-merah-color: #DB4437;
    --primary-kuning-color: #F4B400;
    --primary-biru-color: #4285F4;
    --shadow-color: rgba(0, 0, 0, 0.2);
    --text-color: #181818;

    /* transition */
    --tran-01: all 0.1s ease;
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;



}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    background: var(--body-color);
    transition: var(--tran-04);
    
}


/* Navbar
================================================= */
.navbar.scrolled a{
    color: var(--text-color);
}
.navbar.scrolled button{
    color: var(--text-color);
}
.navbar.scrolled {
    background: var(--body-color);
    transition: var(--tran-04);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}
.navbar.scrolled .line{
    background-color: var(--text-color);
}
a{
    text-decoration: none;
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    color: var(--primary-color-light);
    z-index: 1000; /* Menetapkan indeks-z untuk memastikan navbar tetap di atas konten */
    transition: background-color 0.3s ease; /* Transisi warna latar belakang ketika di-scroll */
}

.nav-tiket .logo-text a,
.nav-tiket .nav-links a,
.nav-tiket .profile a,
.nav-tiket .profile button{
    color: var(--text-color);
}

.logo {
    margin-left: 20px;
    display: flex;
    align-items: center;
    
}

.logo-text {
    display: flex;
    align-items: center;
    margin-left: 10px;
    
}
.logo-text a {
    color: var(--primary-color-light);
}

.logo img {
    margin-left: 15px;
    max-height: 20px;
}
.con-nav-prof{
    display: flex;
    justify-content: end;
    align-items: center;
}

.nav-links{
    margin: 0;
    gap: 0;
}
.nav-links a {
    text-decoration: none;
    color: var(--primary-color-light);
    transition: var(--tran-02);
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 500;
    border-radius: 20px;
}
.nav-links a:hover{
    background-color: var(--primary-color);
    color: var(--primary-color-light);
}

.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.line {
    width: 25px;
    height: 3px;
    background-color: var(--primary-color-light);
    margin: 3px 0;
}
.drop-prof{
    display: none;
}
.profile{
    margin-right: 30px;
    display: flex;
    justify-content: end;
    align-items: center;
    width: 50%;
}
.profile a{
    font-weight: 700;
    color: var(--primary-color-light);
}
.profile img{
    padding: 10px;
    width: 9%;
    margin-left: 10px;
    border-radius: 100px;
}
#nav-biru:hover{
    background-color: var(--primary-biru-color);
    color: var(--body-color);
}
#nav-hijau:hover{
    background-color: var(--primary-hijau-color);
    color: var(--body-color);
}
#nav-kuning:hover{
    background-color: var(--primary-kuning-color);
    color: var(--body-color);
}
#nav-merah:hover{
    background-color: var(--primary-merah-color);
    color: var(--body-color);
}
#nav-login{
    border: 4px solid #7509FF;
    color: #7509FF;
    padding: 10px 30px;
    border-radius: 30px;
}
#nav-login:hover{
    background-color: #7509FF;
    color: var(--body-color);
    box-shadow: 0 2px 6px #7409ffb4;
}


/* ... CSS Anda yang sudah ada ... */

.dropdown {
    position: relative;
    display: inline-block;
  }
  .profile button{
    color: var(--primary-color-light);
    margin-left: 10px;
  }
  .dropbtn {
    background: none;
    font-size: 13px;
    border: none;
    cursor: pointer;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 190px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  

@media screen and (max-width: 768px) {
    
    .navbar{
        background-color: var(--body-color);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    }
    .navbar .line{
        background-color: var(--text-color);
    }
    .nav-links {
        display: none;
        flex-direction: column;
        background-color: #dddfdd;
        position: absolute;
        top: 85px;
        left: 0;
        width: 100%;
        text-align: center;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    }
    .nav-links a{
        color: var(--text-color);
        border-radius: 0px;
    }
    .logo-text a {
        color: var(--text-color);
    }
    .nav-links.active {
        display: flex;
    }

    .burger {
        display: flex;
    }
    .profile{
        display: none;
    }
    .drop-prof{
        display: flex;
        flex-direction: column;
        background-color: rgb(199, 204, 199);
    }
    #nav-login{
        border: none;
        color: var(--text-color);
        padding: 10px 30px;
        border-radius: 30px;
        margin-left: 0px;
    }
    #nav-login:hover{
        background-color: #7509FF;
        color: var(--body-color);
        box-shadow: 0 2px 6px #7409ffb4;
    }
}
/* Navbar end
================================================= */

/* Content end
================================================= */


/* footer
================================================= */

.footer {
    background-color: rgba(235, 235, 235, 0.8);
    color: var(--text-color);
    padding: 20px;
    text-align: center;
}

.footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.footer-logo img {
    width: 5%;
    margin-right: 10px;
}

.footer-logo span {
    font-weight: bold;
}

.footer-credit {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 17px
}
.footer-credit a{
    margin: 15px;
    color: var(--text-color);
    font-weight: 500;
    transition: var(--tran-03);
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
}

.footer-credit #fb:hover{
    background-color: var(--primary-biru-color);
    color: var(--body-color);
}
.footer-credit #ig:hover{
    background-color: #F11A7B;
    color: var(--body-color);
}
.footer-credit #wa:hover{
    background-color: var(--primary-hijau-color);
    color: var(--body-color);
}

.footer-copyright {
    display: flex;
    justify-content: center;
    font-size: 15px;
}
.logo-text {
    text-align: center;
    display: flex;
    align-items: end;
    color: var(--primary-color-light);
}

@media screen and (max-width: 768px) {
    .footer-logo {
        flex-direction: column;
    }

    .footer-logo img {
        margin-right: 0;
        margin-bottom: 5px;
        width: 20%;
    }
    .footer-credit {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5px;
    }
}

/* footer end
================================================= */